{% extends 'story_5/base.html' %}
{% block content %}
{% include 'story_5/navbar.html' %}
<div class="container">
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% endif %}
    <form class="mt-5" method="POST">
      {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-5">
            <label>Nama Mata Kuliah</label>
            {{ form.name }}
          </div>
          <div class="form-group col-md-5">
            <label for="dosen">Dosen Pengajar</label>
            {{ form.teacher }}
          </div>
					<div class="form-group col-md-2">
            <label for="sks">Jumlah SKS</label>
            {{ form.sks }}
          </div>
        </div>
				<div class="form-row">
          <div class="form-group col-md-5">
            <label for="semester">Semester</label>
            {{ form.term }}
          </div>
          <div class="form-group col-md-5">
            <label for="tahunAjar">Tahun Ajar</label>
            {{ form.year }}
          </div>
          <div class="form-group col-md-2">
            <label for="ruang">Ruang</label>
            {{ form.room }}
          </div>
        </div>
				<div class="form-group">
					<label for="deskripsi">Deskripsi</label>
          {{ form.desc }}
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
</div>
{% endblock content %}